@model WebRGRApplication.CompositionOfRequest

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>CompositionOfRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id }) 
</p>
